<div class="dropdown">
    <select class= "dropbtn" id="categories-dropdown">
            <option selected value="all">ALL CATEGORIES</option>
            <option >Breakfast</option>
            <option >Lunch</option>
            <option >Dinner</option>
            <option >Dessert</option>
            <option >Midnight Snack</option>
    </select>
</div>
<div class="dropdown">
    <select class= "dropbtn" id="season-dropdown">
                <option selected value="all">ALL SEASONS</option>
                <option value="winter">Winter❄</option>
                <option value="spring">Spring💧</option>
                <option value="summer">Summer☀️</option>
                <option value="fall">Fall🍁</option>
    </select>
</div>
    <div class="dropdown">
        <select class= "dropbtn" id="rating-dropdown">
                <option selected value="all">ALL RATING</option>
                <option value="1">⭐</option>
                <option value="2">⭐⭐</option>
                <option value="3">⭐⭐⭐</option>
                <option value="4">⭐⭐⭐⭐</option>
                <option value="5">⭐⭐⭐⭐⭐</option>
    </select>
</div>