<div class="dropdown">
            <button class="dropbtn">BY TYPE</button>
            <div class="dropdown-content">
                <a href="#">Breakfast</a>
                <a href="#">Lunch</a>
                <a href="#">Dinner</a>
                <a href="#">Dessert</a>
                <a href="#">Midnight Snack</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">BY SEASON</button>
            <div class="dropdown-content">
                <a href="#">Winter❄</a>
                <a href="#">Spring💧</a>
                <a href="#">Summer☀️</a>
                <a href="#">Fall🍁</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">BY RATING</button>
            <div class="dropdown-content">
                <a href="#">⭐</a>
                <a href="#">⭐⭐</a>
                <a href="#">⭐⭐⭐</a>
                <a href="#">⭐⭐⭐⭐</a>
                <a href="#">⭐⭐⭐⭐⭐</a>
            </div>
</div>