<footer class="footer">
    <div class="social-icons">
                <!-- Social media icons can be added here -->
                <a href="https://www.instagram.com/"><img src="https://cdn-icons-png.freepik.com/256/15707/15707869.png?semt=ais_hybrid" alt="Instagram"></a>
                <a href="https://mail.google.com"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7SCns_-S4vhoQ2WHqKBamToTlI0mXEADowA&s" alt="Mail"></a>
    </div>
</footer>
