<header class="header">
    <div class="logo-image-container">
            <img class="logo-image" src="logo.png" alt="Food For You logo">
    </div>
    <a class="logo" href="/"><div class="logo">Food For You</div></a>
    <nav class="navigation">

        <a href="/explore">EXPLORE</a>
        <a href="/saved">SAVED</a>
        <div class="dropdown">
            <button class="dropbtn">BY TYPE</button>
            <div class="dropdown-content">
                <a href="#">Breakfast</a>
                <a href="#">Lunch</a>
                <a href="#">Dinner</a>
                <a href="#">Dessert</a>
                <a href="#">Midnight Snack</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">BY SEASON</button>
            <div class="dropdown-content">
                <a href="#">Winter❄</a>
                <a href="#">Spring💧</a>
                <a href="#">Summer☀️</a>
                <a href="#">Fall🍁</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">BY RATING</button>
            <div class="dropdown-content">
                <a href="#">⭐</a>
                <a href="#">⭐⭐</a>
                <a href="#">⭐⭐⭐</a>
                <a href="#">⭐⭐⭐⭐</a>
                <a href="#">⭐⭐⭐⭐⭐</a>
            </div>
        </div>
    </nav>
</header>
 {{>search}}