 <a class="logo" href="index.html"><div class="logo">Food For You</div></a>
        <nav class="navigation">
            <a href="search_page.html">SEARCH</a>
            <a href="saved_recipes.html">SAVED RECIPES</a>
</nav>