<header class="header">
    <div class="logo-image-container">
            <img class="logo-image" src="logo.png" alt="Food For You logo">
    </div>
    <a class="logo" href="/"><div class="logo">Food For You</div></a>
    <nav class="navigation">

        <a href="/explore">EXPLORE</a>
        <a href="/saved">SAVED</a>
        <div class="dropdown">
            <select class= "dropbtn" id="categories-dropdown">
                <option selected value="all">ALL CATEGORIES</option>
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="dessert">Dessert</option>
                <option value="midnight-snack">Midnight Snack</option>
            </select>
        </div>
        <div class="dropdown">
            <select class= "dropbtn" id="season-dropdown">
                <option selected value="">ALL SEASONS</option>
                <option value="winter">Winter❄</option>
                <option value="spring">Spring💧</option>
                <option value="summer">Summer☀️</option>
                <option value="fall">Fall🍁</option>
            </select>
        </div>
        <div class="dropdown">
            <select class= "dropbtn" id="rating-dropdown">
                <option selected value="all">ALL RATING</option>
                <option  value="1">⭐</option>
                <option  value="2">⭐⭐</option>
                <option  value="3">⭐⭐⭐</option>
                <option  value="4">⭐⭐⭐⭐</option>
                <option  value="5">⭐⭐⭐⭐⭐</option>
            </select>
        </div>
    </nav>
</header>
 {{!-- {{>search}} --}}

{{!-- <header class="header">
    <div class="logo-image-container">
            <img class="logo-image" src="logo.png" alt="Food For You logo">
    </div>
    <a class="logo" href="/"><div class="logo">Food For You</div></a>
    <nav class="navigation">

        <a href="/explore">EXPLORE</a>
        <a href="/saved">SAVED</a>
        <div class="dropdown">
            <div class="dropdown-content">
            <select class="dropbtn" id="categories-dropdown">
                <option selected value="">BY TYPE</option>
                <option >Breakfast</option >
                <option >Lunch</option >
                <option >Dinner</option >
                <option >Dessert</option >
                <option >Midnight Snack</option >
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-content">
                <select class="dropbtn" id= "season-dropdown">
                    <option selected value="">BY SEASON</option>
                    <option >Winter❄</option >
                    <option >Spring💧</option >
                    <option >Summer☀️</option >
                    <option >Fall🍁</option >
                </select>
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-content">
                <select class="dropbtn" id= "rating-dropdown">
                <option selected value="">BY RATING</option>
                    <option >⭐</option >
                    <option >⭐⭐</option >
                    <option >⭐⭐⭐</option >
                    <option >⭐⭐⭐⭐</option >
                    <option >⭐⭐⭐⭐⭐</option >
                </selected>
            </div>
        </div>
    </nav>
</header> --}}
 {{>search}}