<header class="header">
    <div class="logo-image-container">
            <img class="logo-image" src="logo.png" alt="Food For You logo">
    </div>
    <a class="logo" href="/"><div id="logo">Food For You</div></a>
    <nav class="navigation">

        <a href="/explore">EXPLORE</a>
        <a href="/saved">SAVED</a>
    </nav>
</header>
 {{>search}}