<div class="search-bar"></div>
    <div class="filter-input-container">
        <label for="filter-text" class="filter-input-label">Search:</label>
        <div class="filter-input-element">
        <input type="text" name="filter-text" id="filter-text" class="filter-input">
        </div>
    </div>
</div>