    <section class="featured-recipes">
        {{#if home}}
        <!-- Home Page -->
        <h1>Featured Recipe</h1>
            <div class="recipes-grid">
                {{> recipecardTemplate recipeoftheday}}
            </div>
        <h1>Explore Recipes</h1>
        <div class="recipes-grid">
            {{#each recipe}}
            {{> recipecardTemplate}}
            {{/each}}
        </div>
        <a href="/allrecipes" class="all-recipes-link">All Recipes →</a>
        {{/if}}

        {{#if all}}
        <!-- All Recipes Page -->
        <div class="recipes-grid">
            {{#each recipeCard}}
            {{> recipecardTemplate}}
            {{/each}}
        </div>
        {{/if}}

        {{#if saved}}
        <!-- Saved Page -->
        <div class="saved-recipes">
            <div class="recipes-grid">
                {{#each savedRecipes}}
                {{> recipecardTemplate }}
                {{/each}}
            </div>
        </div>
        {{/if}}

        {{#if explore}}
        <!-- Explore Page -->
        {{> dropdown}}  
        <div class="recipes-grid">
            {{#each unsavedRecipes}}
            {{> recipecardTemplate }}
            {{/each}}
        </div>
        {{/if}}

    </section>
