    <section class="featured-recipes"><!-- Home Page -->
        {{#if home}}
        <h1>Featured Recipe</h1>
            <div class="recipes-grid">
                {{> recipe-cardTemplate recipeoftheday}}
            </div>
        <h1>Explore Recipes</h1>
        <div class="recipes-grid">
            {{#each recipe}}
            {{> recipe-cardTemplate}}
            {{/each}}
        </div>
        <a href="/explore" class="all-recipes-link">All Recipes →</a>

        {{/if}}

        {{#if all}}
        <div class="recipes-grid">
            {{#each recipeCard}}
            {{> recipe-cardTemplate}}
            {{/each}}
        </div>
        {{/if}}

        {{#if saved}}
          <div class="recipes-grid">
            {{#each recipeCard}}
            {{> recipe-cardTemplate}}
            {{/each}}
            </div>
        {{/if}}

        {{else}}
            <div class="recipes-grid">
                {{#each recipeCard}}
                {{> recipe-cardTemplate}}
                {{/each}}
            </div>
        {{/if}}

    </section>
