<div class="recipe-card">
    <img src="{{imgURL}}" alt="{{Name}}">
    <h2>{{Name}}</h2>
    {{!-- Add the rating --}}
    {{!-- Add a href to go to the link of the  --}}
    {{!-- Ingredient info --}}
</div>
