<h1>{{Name}}</h1>
<div class="recipe-image-container">
    <img src="{{imgURL}}">
    <p>{{rating}}</p>
</div>
<div class = "recipe-ingredients">
    <h2>Ingredients</h2>
    <p>1.blah blah <br>
       2.blahhhhh <br>
    </p>
</div>
<div class = "recipe-instructions">
    <h2>Instructions</h2>
    <p>1.blah blah <br>
       2.blahhhhh <br>
    </p>
</div>
<div class = "recipe-ingredients">
    <h2>Ingredients</h2>
    <p>1.blah blah <br>
       2.blahhhhh <br>
    </p>
</div>
<div class = "recipe-video">
    <a href="https://www.youtube.com/watch?v=HW2SoMJToIo&pp=ygUII2Nvb21wYXM%3D">Recipe Name Video</a>
</div>

