<div class="recipe-card">
    <button class="save-button" type="button">SAVE</button>
    <img src="{{imgURL}}" alt="{{Name}}">
    <h2>{{Name}}</h2>
    {{!-- Add the rating --}}
    {{!-- Add a href to go to the link of the  --}}
    {{!-- Ingredient info --}}
</div>
