/* CSS Based off of the Template */

/* for footer fix */
main {
    flex-grow: 1;
}

.navigation {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color: #fff;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    padding-left: 100px;
    padding-right: 100px;

    /* Added a blue background with white text */
    background-color: rgb(108, 121, 148);
    color: #fff;
}

/* Logo Text */
.logo {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white; 
}

.logo-image {
    width: 90px;
    height: 90px;
}

/* Dropdown filters on explore page */
.dropbtn {
    background-color: rgb(108, 121, 148);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    font-family: Cambira, monospace;
    margin-left: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
    
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropbtn {background-color:rgb(78, 96, 134);}

/* for body of html, does not include header & footer */
body {
    font-family: monospace;
    background-color: #fff;
    color: white;
    /* Dristi- Added to make footer stay at bottom */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

/* Recipe of the day */
#recipe-of-the-day {
    width: 500px;
}

/* Feature Recipes */
.featured-recipes {
    text-align: center;
    padding: 2rem;
}

.featured-recipes h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    /* Aligned the text to center within the recipes */
    text-align: center;
}

/* Recipes Grid */
.recipes-grid {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Recipe card */
.recipe-card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(179, 186, 194);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
}

.recipe-card img {
    width: 100%;
    height: auto;
}

.recipe-card h2 {
    font-size: 1.25rem;
    padding: 1rem;
    text-align: center;
}

@media (max-width: 768px) {
    .recipes-grid {
        flex-direction: column;
        align-items: center;
    }
}

/* Filter and search */

.filter-input-container {
width: 100%;
margin-bottom: 20px;
display: flex;
align-items: center;
background-color: rgb(108, 121, 148);
color: white;
padding-bottom: 20px;
}

.filter-input-element {
margin: 0 5px;
flex: 1 1 100%;
}

.filter-input {
font-size: 14px;
width: 25%;
margin-left: 10px;
padding: 3px;
border: 1px solid black;
border-radius: 3px;
background-color: white;
}

.filter-input-label {
    padding-left: 30px;
}

/* Header css */
h1 {
    background-color: rgb(108, 121, 148);
    color: white;
    margin: 0;
    padding-left: 30px;
}

h2 {
    color: white;
    cursor: pointer;
}

h2:hover {
    text-decoration: underline;
}

/* Save Button */
.save-button {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: rgb(179, 186, 194);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.recipe-card .save-button:focus {
    background-color:rgb(108, 121, 148);
}

.recipe-card .save-button:hover {
    background-color:rgb(108, 121, 148);
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Footer css */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(108, 121, 148); 
}

.social-icons img {
    width: 50px;
    height: 50px;
}

/* 404 Page */
.error-container {
    font-family: Cambira, monospace;;
    text-align: center;
    color: rgb(108, 121, 148);
}
  
.error-container h2 {
    text-decoration: none;
    font-size: 128px;
    margin-top: 50px;
    margin-bottom: 0;
    color: rgb(108, 121, 148);

}

.error-container h3 {
    font-size: 32px;
    margin: 0;
    color: rgb(108, 121, 148);
}